﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead"></p>
    <p><a href="https://www.avis.co.za/contact-avis/call-us" class="btn btn-primary btn-lg"> Contact our consultant &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Car Rental Offers</h2>
        <p>
           As Romania's leading car rental company we strive to offer you not only the best service and quality rental vehicles.
           A truck to move home or a monthly rental option, we have an offer for you.
        </p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301865">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Weekend Getaways</h2>
        <p>
            Affordable weekend car hire
            With great car hire rates there's no reason for you and your family to stay at home this weekend. We have an offer for you to have a great weekend with your family
        </p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
           Zero Liability* rate..
        </h2>
        <p>
            Rent a car and have the peace of mind of a Zero Liability* rate... and have the peace of mind.
            Reduce your collision damage and theft loss waiver liabilities to ZERO with Avis SafeDrive.
        </p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">Read more &raquo;</a></p>
    </div>
</div>